footer.footer.container-fluid.bg-dark.bg-darker
    div.container.align-middle
        div.row#footerRow
            div.col-md-6
                p(style="padding-top: 30px;") Copyright &copy; 2011-2018 
            div.col-md-6
                p(style="padding-top: 30px;")
                    a(href="https://sig-gis.com/") Spatial Informatics Group, LLC.
            //div.col-md-4
                p(style="padding-top: 30px;")
                    a(href="https://www.gnu.org/licenses/gpl-3.0.en.html") 2015-2018 GNU GPLv3 