head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/openlayers-3.13.0.css')
    //link(rel='stylesheet', href='/stylesheets/ol3-layerswitcher.css')
    link(rel='stylesheet', href='/stylesheets/ol-layerswitcher.css')
    //link(rel='stylesheet', href='/stylesheets/layerswitcher.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.css')
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css')
    //script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.js')
    //script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js')
    script(type='text/javascript', src='/javascripts/jquery-3.3.1.js')
    //script(type='text/javascript' src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    //script(type='text/javascript', src='/javascripts/openlayers-3.13.0.js')
    script(type='text/javascript', src='/javascripts/mercator-openlayers.js')
    //script(type='text/javascript', src='/javascripts/ol3-layerswitcher.js')
    //script(type='text/javascript', src='/javascripts/ol-layerswitcher.js')
    //script(type='text/javascript', src='/javascripts/layerswitcher.js')
    //script(type='text/javascript', src='/javascripts/map_script.js')
    script(type='text/javascript', src='/javascripts/jquery.csv.min.js')
    script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript', src='/javascripts/dataTables.bootstrap.js')
    script(type='text/javascript', src='/javascripts/csv_to_html_table.js')
    script(type='text/javascript', src='/javascripts/form_script.js')
header#header
    nav.navbar.navbar-static-top.navbar-dark.bg-dark
        a.navbar-brand(href='#')
            h2 GridFire
        a.navbar-brand.navbar-right.thumbnail(href='https://sig-gis.com/')
            img.img-thumbnail.img-responsive(src='images/sig-logo.png')
        //button.navbar-toggler(type='button', data-toggle='collapse', data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        //div.collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='https://sig-gis.com/') SIG-GIS
            ul.navbar-nav.navbar-right
                p Fire Logo