head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://openlayers.org/en/v4.6.5/css/ol.css')
    script(type='text/javascript' src="https://openlayers.org/en/v4.6.5/build/ol.js")
header#header
    nav.navbar.navbar-static-top.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='#')
            h2 GridFire
        button.navbar-toggler(type='button', data-toggle='collapse', data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='https://sig-gis.com/') SIG-GIS
            ul.navbar-nav.navbar-right
                p Fire Logo