extends layout

block content
    div.container
        div.row#welcome
            div.col-md-12       
                //h1= title
                //p Welcome to the #{title} - an interactive web map for interfacing with the Clojure GridFire model.
