doctype html
html
    include head.pug
    //body(onload="mapScript()")
    //body(onload="console.log('TEST TEST');")
    body
        block content
        include map.pug
        //div.container
            div.row#btmMap
        //div.container(style="text-align: center; padding-top: 180px;")
            h3 GridFire raster-based fire spread model
        //div.container
            div.row#preFoot
        include foot.pug
        //include ../public/javascripts/form_script.js
        script.
            var sessionId = !{sessionId};
            var validSims = !{validSims};
            var extent = !{extent}; 
        script(src="/javascripts/map_script.js")

