doctype html
html
    include head.pug
    //body(onload="mapScript()")
    //body(onload="console.log('TEST TEST');")
    body
        block content
        include map.pug
        //div.container
            div.row#btmMap
        div.container(style="text-align: center; padding-top: 40px; padding-bottom: 100px;")
            <div id="gridFireRunning" class="alert alert-warning" role="alert" style="display: none;">
                <strong>Running:</strong> GridFire is processing
            </div>
            <div id="gridFireDone" class="alert alert-success" role="alert" style="display: none;">
                <strong>Complete:</strong> GridFire results below
            </div>
            br
            br
            h3 GridFire raster-based fire spread model
            br
            p Model results will display on the map and summary statistics in a table here after the simulation is complete.
            br
            div(id="summaryStatsInfo", style="display: none;")
                p.small Select columns to sort values <i>Table scrolls horizontally</i>
            div(id="summaryStatsContainer", style="display: none;")
                br  
        //div.container
            div.row#preFoot
        include foot.pug
        //include ../public/javascripts/form_script.js
        script.
            var sessionId = !{sessionId};
            var validSims = !{validSims};
            var extent = !{extent}; 
        script(src="/javascripts/map_script.js")

