#map
    #formFields(style="z-index: 9999; position: absolute; right: 1%;")
        button#formFieldsBtn GridFire
    div.container#formFieldsContent(style="display: none; z-index: 9999; position: absolute; right: 1%;")
        div.row
            div.col-md-12
                h4(style="padding-top: 20px; padding-bottom: 20px;") Enter parameters for GridFire model
                fieldset
                    form#userForm(action='/', method='post')
                        label.container
                            input#single-burn-radio(type='radio', checked='checked', name='radio' value='isSingle') 
                            |   Single burn site
                        label.container
                            input#random-burn-radio(type='radio', name='radio', value='isRandom') 
                            |   Random burn sites 
                        br
                        div#single-burn-coords
                            br
                            p Enter coordinates or click on the map
                            table.table.borderless
                                tbody
                                    tr
                                        td Latitude <br><br><input id='ignition-lat', name='ignition-lat', type='text', placeholder='e.g. 38.8375'>
                                        td Longitude <br><br><input id='ignition-lon', name='ignition-lon', type='text', placeholder='e.g. -120.8958'> 
                        div#random-burn-coords(style='display: none;')
                            br
                            p Enter coordinates or Ctrl/Cmd + Click &amp; Drag to draw a box on the map
                            p North coordinate 
                            input(name='lat-max', id='lat-max', type='text', placeholder='Latitude (max)')
                            br
                            br
                            table.table.borderless
                                tbody
                                    tr
                                        td West coordinate <br><br><input id='lon-min', name='lon-min', type='text', placeholder='Longitude (min)'>
                                        td East coordinate <br><br><input id='lon-max', name='lon-max', type='text', placeholder='Longitude (max)'>
                            p South coordinate
                            input(id='lat-min', name='lat-min', type='text', placeholder='Latitude (min)')
                            br
                            br
                        hr
                        br
                        p For all options in this section, <br> you may enter values in one of three ways
                        table.table.table-bordered(style='background-color: rgba(0, 0, 0, 0.1);')
                            thead
                                tr
                                    th Type
                                    th Description
                                    th Example
                            tbody
                                tr
                                    td Scalar
                                    td Single value used for <br> all simulations
                                    td e.g. 60
                                tr
                                    td Discrete sample set
                                    td Sample values in set <br> (2 or more values) <br> sampled each simulation
                                    td e.g. (50 65 80)
                                tr 
                                    td Continuous sample range
                                    td Sample in range of 2 numbers <br> [inclusive exclusive] <br> sampled each simulation
                                    td e.g. [10 20]
                        br
                        br
                        p Max burn time (minutes)
                        input#max-runtime(name='max-runtime', type='text', placeholder='e.g. 60', required='')
                        br
                        br
                        table.table.borderless
                            tbody
                                tr
                                    td Temperature (&deg;F) <br><br><input id='temperature', name='temperature', type='text', placeholder='e.g. [60 90]', required=''>
                                    td Relative humidity (%) <br><br><input id='relative-humidity', name='relative-humidity', type='text', placeholder='e.g. (1 10 20)', required=''>
                        br
                        p Wind speed 20ft (miles/hour)
                        input#wind-speed-20ft(name='wind-speed-20ft', type='text', placeholder='e.g. (10 15 20)', required='')
                        br
                        br
                        p Wind direction (degrees clockwise from North)
                        input#wind-from-direction(name='wind-from-direction', type='text', placeholder='e.g. (0 90 180 270)', required='')
                        br
                        br
                        table.table.borderless
                            tbody
                                tr
                                    td Foliar moisture (%) <br><br><input id='foliar-moisture', name='foliar-moisture', type='text', placeholder='e.g. 90', required=''>
                                    td Ellipse adjustment factor <br><br><input id='ellipse-adjustment-factor', name='ellipse-adjustment-factor', type='text', placeholder='e.g. 1.0', required=''>
                        table.table.borderless
                            tbody
                                tr
                                    td Number of simulations <br><br><input id='simulations', name='simulations', type='text', placeholder='e.g. 10', required=''>
                                    td Random seed <br><br><input id='random-seed', name='random-seed', type='text', placeholder='e.g. 1234567890', required=''>
                        br
                        input(type='submit', value='Send to EDN', style='font-size: 16px;')
                        br
                        br
                        br

