#map
    #formFields(style="z-index: 9999; position: absolute; right: 1%;")
        button#formFieldsBtn GridFire
        div.container#formFieldsContent(style="display: none;")
            div.row
                div.col-md-12
                    h4(style="padding-top: 20px; padding-bottom: 20px;") Enter parameters for GridFire model
                    fieldset
                        form#userForm(action='/', method='post')
                            h5 Burn sites
                            label.container Single burn site
                                input#single-burn-radio(type='radio', checked='checked', name='radio')
                                span.checkmark
                            label.container Random burn sites
                                input#random-burn-radio(type='radio', name='radio')
                                span.checkmark
                            br
                            br
                            p Enter coordinates for single burn site or draw range on map for random burn sites
                            br
                            div#single-burn-coords
                                div(style='display: table; padding-left: 10%;')
                                    div(style='display: table-cell; padding-right: 2em')
                                        p Latitude
                                        input#ignition-row(name='ignition-row', type='text', placeholder='38.8375', required='')
                                    br
                                    br
                                    div(style='display: table-cell; padding-left: 5em;')
                                        p Longitude 
                                        input#ignition-col(name='ignition-col', type='text', placeholder='-120.8958', required='')
                            div#random-burn-coords(style='display: none;')
                                p North coordinate 
                                input#north-coord(name='north-coord', type='text', placeholder='Lat / long')
                                br
                                br
                                div(style='display: table; padding-left: 10%;')
                                    div(style='display: table-cell; padding-right: 2em;')
                                        p West coordinate
                                        input#west-coord(name='west-coord', type='text', placeholder='Lat / long')
                                    div(style='display: table-cell; padding-left: 5em;')
                                        p East coordinate 
                                        input#east-coord(name='east-coord', type='text', placeholder='Lat / long')
                                br
                                br
                                p South coordinate
                                input#south-coord(name='south-coord', type='text', placeholder='Lat / long')
                                br
                                br
                            hr
                            br
                            br
                            p Max simulation runtime (Minutes)
                            input.slider#max-runtime(name='max-runtime', type='text', value='60', onchange='updateRuntime(this.value)')
                            input#show-runtime(type='text', value='60', style='margin-left: 20px;')
                            br
                            br
                            div(style='display: table; padding-left: 10%;')
                                div(style='display: table-cell; padding-right: 2em')
                                    p Temperature 
                                    input#temperature(name='temperature', type='text', placeholder='Default: 50 65 80', required='')
                                br
                                br
                                div(style='display: table-cell; padding-left: 5em;')
                                    p Relative humidity (%)
                                    input#relative-humidity(name='relative-humidity', type='text', placeholder='Default: 1 10 20', required='')
                            br
                            br
                            p Wind speed 20ft (miles/hour)
                            input#wind-speed-20ft(name='wind-speed-20ft', type='text', placeholder='Default: 10 15 20', required='')
                            br
                            br
                            p Wind direction (degrees clockwise from North)
                            input#wind-from-direction(name='wind-from-direction', type='text', placeholder='Default: 0 90 180 270', required='')
                            br
                            br
                            div(style='display: table; padding-left: 10%;')
                                div(style='display: table-cell; padding-right: 2em')
                                    p Foliar moisture (%)
                                    input#foliar-moisture(name='foliar-moisture', type='text', placeholder='Default: 90', required='')
                                br
                                br
                                div(style='display: table-cell; padding-left: 5em;')
                                    p Ellipse adjustment factor 
                                    input#ellipse-adjustment-factor(name='ellipse-adjustment-factor', type='text', placeholder='Default: 1.0', required='')
                            br
                            br
                            div(style='display: table; padding-left: 10%;')
                                div(style='display: table-cell; padding-right: 2em')
                                    p Number of simulations
                                    input#simulations(name='simulations', type='text', placeholder='Default: 10', required='')
                                br
                                br
                                div(style='display: table-cell; padding-left: 5em;')
                                    p Random seed
                                    input#random-seed(name='random-seed', type='text', placeholder='Default: 1234567890', required='')
                            br
                            br
                            input(type='submit', value='Send to .edn')
                            br
                            br

