html {
    position: relative;
    min-height: 100%;
    /*background-color: rgba(52, 58, 64, 0.3);*/
}

body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* Margin bottom to match footer height */
    margin-bottom: 150px;
    background-color: rgba(52, 58, 64, 0.3);
}

a {
    color: #00B7FF;
}

/* Header */

.bg-dark {
    background-color: rgba(52, 58, 64, 0.6) !important;
}

#header {
    text-align: center;
}

#welcome {
    /*padding-top: 150px;*/
    /*padding-bottom: 90px;*/
    text-align: center;
}

.navbar-right {
    /*color: #fff;*/
    color: rgba(106, 148, 72, 0.8);
}

.img-thumbnail {
    background-color: inherit;
    border: none;
}

/* Map */ 

#map {
    height: 620px;
    width: 100%;
    /*padding: 30px;*/
}

.ol-attribution.ol-logo-only {
    bottom: 1.4em;
}

/* Form fields for model params */

table.borderless td,table.borderless th {
    border: none !important;
}

#formFieldsBtn {
    margin-top: 5px;
    right: 1%;
    position: absolute;
    background-color: rgba(238, 238, 238, 0.8);
    font-size: 12px;
    text-align: center;
    will-change: contents,width;
}

#formFieldsContent {
    margin-top: 35px;
    background-color: rgba(238, 238, 238, 0.8);
    border: 1px solid #eee;
    border-top: none;
    /*color: #eee;*/
    font-size: 12px;
    text-align: center;
    /*margin: 1px;*/
    will-change: contents,width;
    overflow-y: scroll;
    height: 45%;
    width: 32%;
}

.go-right {
    right: 0;
}

.form-group {
    padding-bottom: 20px;
}

#max-runtime-slider .slider-selection {
    background: #BABABA;
}

/* Burn radios */

/* Tooltips for form inputs */ 

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Form container */

#formContainer {
    padding-top: 50px;
    /*background-color: rgba(52, 58, 64, 0.3);*/
    /*background-color: rgba(106, 148, 72, 0.8);*/
    left: 0;
    right: 0;
}

/* CSV to HTML table */

.table td {
    font-size: 11px;
}

#summaryStatsContainer {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

#summaryStatsContainer-table_filter {
    display: none;
}

/* Footer */

#preFoot {
    height: 200px;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    line-height: 40px; /* Vertically centering text */
    color: #fff;
    left: 0;
    right: 0;
}

.bg-darker {
    background-color: rgba(52, 58, 64, 1.0) !important;
}
